<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>World On Wheels</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href="/css/admin-service-list.css">
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0    " style="position: fixed; width:  100%;">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">World On Wheels</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Username Sign out</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row" style="padding-top: 30px; padding-bottom: 30px;">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
                style="position: fixed; margin-top: -20px; height: 100%;">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/service">
                                Service
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/customer">
                                Customer 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active nav-link-active" href="/admin/vehicle">
                                Vehicle <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <form method="get">
                    <div class="row">
                        <div class="col-md-2 mb-2">
                            <label for="searchVin">Vin</label>
                            <input name="vin" type="text" class="form-control" id="vin" placeholder="" value=<%= vin %>>
                        </div>
                        <div class="col-md-2 mb-2">
                            <label for="searchCustType">Class</label>
                            <select name="class_no" class="form-control" id="exampleFormControlSelect1">
                                <option <%= class_no == '' ? 'Selected' : '' %> value=''>All</option>
                                <% for (let i=1 ; i<vehicleClassArr.length; i++) { %>
                                <option value=<%= i %>
                                    <%= (class_no == i && class_no !== '') ? 'Selected' : '' %>>
                                    <%= vehicleClassArr[i] %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="col-md-2 mb-2">
                            <label for="searchMake">Make</label>
                            <input name="make" type="text" class="form-control" id="make" placeholder=""
                                value=<%= make %>>
                        </div>
                        <div class="col-md-1 mb-1">
                            <label for=""> </label>
                            <button type="submit" class="btn btn-primary my-2">Search</button>
                        </div>
                    </div>
                </form>
                <!--<iframe id="search_iframe" name="search_iframe" style="display: none;"></iframe>-->
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th scope="col">Vin</th>
                            <th scope="col">Class</th>
                            <th scope="col">Make/Model/Year</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (vehicleData !== undefined) {for (let i=0 ; i<vehicleData.length; i++) { %>
                        <tr>
                            <td><%= vehicleData[i].vin %></td>
                            <td><%= vehicleData[i].class_name %></td>
                            <td><%= vehicleData[i].make %> <%= vehicleData[i].model %> <%= vehicleData[i].year %></td>
                            <td><a href=<%= '/admin/vehicle/delete?vin=' +  vehicleData[i].vin %>
                                    class="btn btn-primary">Delete</a>
                                <a href=<%= '/admin/vehicle/' +  vehicleData[i].vin %> target='_blank'
                                    class="btn btn-primary">Detail</a>
                            </td>
                        </tr>
                        <% } }%>
                    </tbody>
                </table>
                <div class="modal fade" id="serviceDetail" data-backdrop="static" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <%- include("footer") -%>