<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Service Detail</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href="/css/admin-service-detail.css">
</head>

<body>
    <div class="container">
        <div class="card" style="margin: 50px auto 50px auto; max-width: 700px;">
            <h5 class="card-header">Detail about Service <%= serviceData.service_no %></h5>

            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-12" style="margin-bottom: 5px;">Info</dt>

                    <dd class="col-sm-4">Service Number</dt>
                    <dd class="col-sm-8"><%= serviceData.service_no %></dd>

                    <dd class="col-sm-4">Customer ID</dt>
                    <dd class="col-sm-8"><%= serviceData.cust_id %></dd>

                    <dd class="col-sm-4">Status</dt>
                    <dd class="col-sm-8"><%= serviceStatus[serviceData.status] %></dd>

                    <dd class="col-sm-4">Customer Type</dt>
                    <dd class="col-sm-8"><%= (serviceData.cust_type == 'I') ? 'Individual' : 'Corporate' %></dd>

                    <dt class="col-sm-12" style="margin-top: 15px; margin-bottom: 5px;">Vehicle</dt>

                    <dd class="col-sm-4">Make/Model/Year</dt>
                    <dd class="col-sm-8"><%= serviceData.make +  ' ' + serviceData.model + ' ' +  serviceData.year%>
                    </dd>

                    <dd class="col-sm-4">Vin</dt>
                    <dd class="col-sm-8"><%= serviceData.vin %></dd>

                    <dt class="col-sm-12" style="margin-top: 15px; margin-bottom: 5px;">Pickup</dt>
                    <dd class="col-sm-4">Pickup Time</dt>
                    <dd class="col-sm-8"><%= serviceData.pickup_date %></dd>

                    <dd class="col-sm-4">Pickup Location</dt>
                    <dd class="col-sm-8">
                        <%= serviceData.pickup_street + ', ' + serviceData.pickup_city + ', ' + serviceData.pickup_state %>
                    </dd>

                    <dt class="col-sm-12" style="margin-top: 15px; margin-bottom: 5px;">Dropoff</dt>
                    <dd class="col-sm-4">Scheduled Dropoff Time</dt>
                    <dd class="col-sm-8"><%= serviceData.s_dropoff_date %></dd>

                    <dd class="col-sm-4">Scheduled Dropoff Location</dt>
                    <dd class="col-sm-8">
                        <%= serviceData.dropoff_street + ', ' + serviceData.dropoff_city + ', ' + serviceData.dropoff_state %>
                    </dd>

                    <dt class="col-sm-12" style="">Coupon Number</dt>
                    <dd class="col-sm-12">
                        <%= (serviceData.coupon_no == 10000) ? "Not Applicated" :  serviceData.coupon_no%></dd>


                </dl>
            </div>
            <div class="card-body">
                <form name="returnForm" method="post" onsubmit="return checkInp()">
                    <div class="form-group row">
                        <label for="inputLocation" class="col-sm-4 col-form-label">Dropoff Location</label>
                        <div class="col-sm-8">
                            <select name="locationStatus1" class="form-control" id="exampleFormControlSelect1">
                                <% for (let i=0 ; i<allLocation.length; i++) { %>
                                <option value=<%= allLocation[i].office_id %>
                                    <%= (locationStatus1 == allLocation[i].office_id && locationStatus1 !== '') ? 'Selected' : '' %>>
                                    <%= allLocation[i].street + ' ,' + allLocation[i].city + ' ,' + allLocation[i].state  %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="startOdometer" class="col-sm-4 col-form-label">Start Odometer</label>
                        <div class="col-sm-8">
                            <input disabled name="startOdometerStatus1" type="text" class="form-control"
                                id="startOdometerStatus1" placeholder=<%= serviceData.start_odometer %> >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputOdometer" class="col-sm-4 col-form-label">End Odometer</label>
                        <div class="col-sm-8">
                            <input name="odometerStatus1" type="text" class="form-control" id="endOdometer"
                                value="<%= odometerStatus1 %>" required>
                        </div>
                    </div>
                    <input hidden name="currentStatus" value=<%= serviceData.status %>>
                    <button type="submit" class="btn btn-primary mb-2">Comfirm and Rent</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {
            if ( <%= odometerInputStatus1 != "" %> ) {
                alert("<%= odometerInputStatus1 %>");
            }
        }

        function checkInp() {
            var x = document.forms["returnForm"]["odometerStatus1"].value;
            if (x == '') {
                alert("End odometer is required.");
                return false;
            }
            if (isNaN(x)) {
                alert("Must input numbers in odometer.");
                return false;
            }
            if (<%= serviceData.start_odometer %> > x) {
                alert("End odometer must be larger than start odometer.");
                return false;
            }
        }
    </script>

    <%- include("footer") -%>