<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>User Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href="/css/signin.css">
</head>

<body class="text-center" style="display: block">
    <%- include("user-nav") -%>
    <main role="main">
        <div class="container">
            <div class="card" style="margin: 50px auto 50px auto; max-width: 700px;">
                <h5 class="card-header">Choose your time and location</h5>

                <div class="card-body">
                    <form name="apply1Form" action="/apply1" method="post" onsubmit="return checkInp()">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputSPickupTime">Scheduled Pickup Time</label>
                                <input name="s_pickup_date" type="text" class="form-control" id="s_pickup_date"
                                    placeholder="YYYY-MM-DD" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputSDropoffTime">Scheduled Dropoff Time</label>
                                <input name="s_dropoff_date" type="text" class="form-control" id="s_dropoff_date"
                                    placeholder="YYYY-MM-DD" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPickupLoc">Pickup Location</label>
                                <select name="pickup_loc" id="pickup_loc" class="form-control" required>
                                    <% for (let i=0; i<results.length; i++) { %>
                                    <option value=<%= results[i].office_id %>>
                                        <%= results[i].street + ', ' + results[i].city + ', ' + results[i].state %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="inputDropoffLoc">Dropoff Location</label>
                                <select name="dropoff_loc" id="dropoff_loc" class="form-control" required>
                                    <% for (let i=0; i<results.length; i++) { %>
                                    <option value=<%= results[i].office_id %>>
                                        <%= results[i].street + ', ' + results[i].city + ', ' + results[i].state %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div style="text-align: center!important;">
                            <button type="submit" class="btn btn-primary">Next</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>
    <script>
        function checkInp() {

            let s_pickup_date = document.forms["apply1Form"]["s_pickup_date"].value;
            let s_dropoff_date = document.forms["apply1Form"]["s_dropoff_date"].value;
            let regEx = /^\d{4}-\d{2}-\d{2}$/;
            if (!s_pickup_date.match(regEx)) {
                alert("Invalid pickup date.")
                return false; // Invalid format
            }
            if (!s_dropoff_date.match(regEx)) {
                alert("Invalid dropoff date.")
                return false; // Invalid format
            }
            let d = new Date(s_pickup_date);
            let dNum = d.getTime();
            if (!dNum && dNum !== 0 || !d.toISOString().slice(0, 10) === s_pickup_date) {
                alert("Invalid pickup date.")
                return false; // NaN value, Invalid date
            }
            d = new Date(s_dropoff_date);
            dNum = d.getTime();
            if (!dNum && dNum !== 0 || !d.toISOString().slice(0, 10) === s_dropoff_date) {
                alert("Invalid pickup date.")
                return false; // NaN value, Invalid date
            }
            if (new Date(s_pickup_date) < new Date()) {
                alert("Pickup date can not be earlier than today.")
                return false; 
            }
            if (new Date(s_dropoff_date) < new Date(s_pickup_date)) {
                alert("Drop-off date can not be earlier than pickup date.")
                return false; 
            }

        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>